#tic-tac-toe-board {
  .columns {
    .cell {
      border: 1px solid #bbb;
      margin: -1px 0 0 -1px;
      padding-bottom: .5em;
      text-transform: uppercase;
    }

    .cell { padding-top: 8.3em }
    .cell.x, .cell.o {
      font-size: 3.5em;
      padding-top: .5em;
    }

    .cell.x { color: blue }

    .cell.o { color: red }
  }

  > .columns:first-of-type .column {
    border-top: none;
  }

  > .columns:last-of-type .column {
    border-bottom: none;
  }

  .columns > .cell:first-of-type {
    border-left: 1px solid #fff;
  }

  .columns > .cell:last-of-type {
    border-right: 1px solid #fff;
  }

  .columns:first-of-type > .cell:first-of-type {
    border-left: 1px solid #fff;
  }
}
