<%= render RoboliaWeb.LayoutView, "_navbar.html", assigns %>

<script>
  window.CONFIG = {
    match_id: <%= @match.id %>,
    match_type: "tic-tac-toe"
  }
</script>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div id="tic-tac-toe-board"></div>
      </div>
      <div class="column is-4 is-offset-1">
        <div id="match-info-card"></div>
      </div>
    </div>
  </div>
</div>
