<%= render GameRoomWeb.LayoutView, "_navbar.html", assigns %>
<%= render "_subnavbar.html", assigns %>

<section class="section">
  <div class="container">
    <h4 class="title is-5">Latest matches</h4>
    <div class="subtitle is-6">Next round of battles at 19:00 UTC</div>
    <%= render "_top_table.html", conn: @conn, matches: @last_tic_tac_toe_matches %>
  </div>
</section>
